<%= content_for :title do %>
  <%= t('cart.title') %>
<% end %>

<h1><%= t('cart.cart')%></h1>

<table class="table table-borderless table-hover">
  <thead>
    <tr>
      <th scope="col" width="5%">#</th>
      <th scope="col" width="60%"><%= t('carts.product') %></th>
      <th scope="col" width="15%"><%= t('carts.price') %></th>
      <th scope="col" width="20%"><%= t('carts.quantity') %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each_with_index do |product, i| %>
      <tr data-cookie-product=<%= @cookie_products[i][0] %>>
        <th class="cart-index"><%= i + 1 %></th>
        <td><%=link_to locale_name(product), show_product_path(product.category.slug, product.slug) %></td>
        <td data-product-price=<%= product.price %> data-cookie-product=<%= @cookie_products[i][0] %>>
          <%= product.price %>
        </td>
        <td>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary btn-sm js-button-cart-minus" data-cookie-product=<%= @cookie_products[i][0] %>> 
              <%= image_tag "minus-2x.png", area_hidden: "true" %> 
            </button>
            <div id=<%= @cookie_products[i][0] %> class="btn btn-secondary">
              <%= @cookie_products[i][1] %>
            </div>
            <button type="button" class="btn btn-secondary btn-sm js-button-cart-plus" data-cookie-product=<%= @cookie_products[i][0] %>> 
              <%= image_tag "plus-2x.png", area_hidden: "true" %> 
            </button> 
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-sm-10" align="right"><h4 id="order" data-text=<%= t('carts.total') %>><%= "#{t('carts.total')} 0" %></h4></div>
  <div class="col-sm-2">
    <% if @products_count != 0 %>
      <%=link_to t('buttons.order'), order_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>