<%= content_for :title do %>
  Feedbacks
<% end %>

<h1> Feedbacks </h1>

<table class="table table-bordered">
  <tr>
    <td>id</td> 
    <td>Name</td>
    <td>E-mail</td>
    <td>Phone</td>
    <td>Message</td>
    <td>Action</td>
  </tr>
  <% @feedbacks.each do |f| %>
    <tr>
      <td><%= f.id %></td>
      <td><%= f.name %></td>
      <td><%= f.email %></td>
      <td><%= f.phone %></td>
      <td><%= f.message %></td>
      <td>
        <%= link_to "show", admin_feedback_path(id: f.id) %>
        <%= link_to "edit", edit_admin_feedback_path(id: f.id) %>
        <%= link_to "delete",  admin_feedback_path(id: f.id), :method => :delete, data: {confirm: "Confirm delete?"} %> 
      </td>
    </tr>
  <% end %>
</table>