<%= content_for :title do %>
  Страница заказа
<% end %>
<h1>Оформление заказа</h1>

<table class="table table-borderless table-hover">
  <thead>
    <tr>
      <th scope="col" width="5%">#</th>
      <th scope="col" width="60%">Товар</th>
      <th scope="col" width="15%">Цена</th>
      <th scope="col" width="20%">Количество</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each_with_index do |(product, value), i| %>
      <tr>
        <th><%= i + 1 %></th>
        <td><%=link_to product.name, show_product_path(product.category.slug, product.slug) %></td>
        <td ><%= product.price %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for @order, url: create_order_path, method: :post do |order| %>
  <% if @order.errors.any? %>
    <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= order.text_field :address, class: "form-control", placeholder: 'Address' %>
  </div>
  <%= order.fields_for :order_products do |order_products_attributes| %>
    <% @products.each_with_index do |(prod, value), i| %>
      <input value=<%= "#{prod.id}" %> type="hidden" name=<%= "order[order_products_attributes][#{i}][[product_id]]" %> id=<%= "order_order_products_attributes_#{i}_[product_id]" %>>
      <input value=<%= "#{value}" %> type="hidden" name=<%="order[order_products_attributes][#{i}][[count]]"%> id=<%= "order_order_products_attributes_#{i}_[count]" %>>
    <% end %>
  <% end %>
  <%= order.submit 'Оформить', class: "btn btn-primary" %>
<% end %>