<%= content_for :title do %>
  <%= t('feedback.new') %>
<% end %>

<h1><%= t('feedbacks.new') %></h1>

<%= form_for @feedback do |f| %>
  <% if @feedback.errors.any? %>
    <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= f.text_field :name, class: "form-control", placeholder: t('user_fields.name') %>
  </div>
  <div class="form-group">
    <%= f.text_field :email, class: "form-control", placeholder: t('user_fields.email') %>
  </div>
  <div class="form-group">
    <%= f.text_field :phone, class: "form-control", placeholder: t('user_fields.phone') %>
  </div>
  <div class="form-group">
    <%= f.text_field :message, class: "form-control", placeholder: t('user_fields.message') %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

<table class="table table-bordered">
  <tr>
    <td><%= t('user_fields.name') %></td>
    <td><%= t('user_fields.email') %></td>
    <td><%= t('user_fields.phone') %></td>
    <td><%= t('user_fields.message') %></td>
  </tr>

  <% @feedbacks.each do |feedback| %>
    <tr>
      <td><%= feedback.name %></td>
      <td><%= feedback.email %></td>
      <td><%= feedback.phone %></td>
      <td><%= feedback.message %></td>
    </tr>
  <% end %>
</table>
