<%= content_for :title do %>
  <%= @category.name %>
<% end %>
<h2 id="cart-message" class="badge badge-secondary"></h2>
<h1> <%= @category.name %> <h1>
<p> <%= @category.description %> </p>

<% @products.each do |product| %>
  <h3> <%=link_to product.name, show_product_path(params[:slug], product.slug) %> </h3>
  <%= button_tag "Купить", data: {add_to_cart: product.slug, product_name: product.name.to_s }, class: "btn btn-primary btn-lg" %>
<% end %>
