<%= content_for :title do %>
  <%= @category.name %>
<% end %>
<h2 id="cart-message" class="badge badge-secondary"></h2>
<h1> <%= @category.name %> <h1>
<p> <%= @category.description %> </p>

<hr>
<% @products.each do |product| %>
  <div class="row">
    <div class="col-sm-9">
      <h4> <%=link_to product.name, show_product_path(params[:slug], product.slug) %> </h4>
      <%= image_tag product.image.url(:med) %>
    </div>
    <div class="col-sm-3">
      <h4><%= product.price %> руб. </h4>
      <% if product.left <= 0 %>
        <h5>нет в наличии </h5>
      <% else %>
        <h5>Количество: <%= product.left %> </h5>
        <%= button_tag "Купить", data: { product_slug: product.slug, product_name: product.name.to_s }, class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
  <hr>
<% end %>
